APP_NAME="Bellevie Hotel"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bellevie_hotel
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@belleviehotel.com"
MAIL_FROM_NAME="${APP_NAME}"

CLOUDINARY_API_SECRET=LbhWW5451uNUlGlUvFLTI_xsEjY
CLOUDINARY_API_PUBLIC=322258594628984
CLOUDINARY_URL=cloudinary://322258594628984:LbhWW5451uNUlGlUvFLTI_xsEjY@dlzy7kx56

ADMIN_EMAIL=admin@belleviehotel.com
ADMIN_PASSWORD=admin123
